#barra_custom{
    height: 10px;
}
.barra_custom{
    width: 100%;
}

.markdown-preview-view{
    padding-bottom: 200px;
    padding-left: 50px;
}
.math-block {
    font-size: 2.5rem;
    /* Cambia el tamaño según lo necesites */
}

.pdf-embed {
    max-width: 50%;
    /* Ajusta el tamaño al 80% del ancho de la nota */
    height: auto;
    /* Ajusta automáticamente la altura */
    display: block;
    margin: 0 auto;
    /* Centra el PDF */
}